// Colors
$color-primary: #2196f3;
$color-dark: #212121;
$color-gray: #757575;
$color-white: #ffffff;
$color-dark-bg: #2f303a;
$color-section-bg: #f5f4fa;
$color-footer-bg: #2e2f42;

// Fonts
$font-main: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;

// Sizes
$section-padding: 94px;

// Animation
$transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);