.clients {
  background: $color-section-bg;
  @extend %section-padding;


&__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
  img {
    width: 120px;
    opacity: .6;
    filter: grayscale(100%);
    transition: opacity 250ms $transition-main,
                filter $transition-main;

    &:hover {
      opacity: 1;
      filter: grayscale(0);
    }
  }
}