.clients {
  background: var(--section-bg);
  padding: var(--section-padding) 0;
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  img {
    width: 120px;
    opacity: .6;
    filter: grayscale(100%);
    transition: opacity 250ms cubic-bezier(0.4,0,0.2,1),
                filter 250ms cubic-bezier(0.4,0,0.2,1);

    &:hover {
      opacity: 1;
      filter: grayscale(0);
    }
  }
}