.nav-list a {
  position: relative;
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.active {
    color: var(--main-color);

    &::after {
      width: 100%;
    }
  }

  &:hover {
    color: var(--main-color);

    &::after {
      width: 100%;
    }
  }
}

.header {
  padding: 24px 0;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--main-color);
}

.logo-accent {
  color: #000;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.contact-list {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.grey {
  color: var(--light-gray);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--main-color);
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--light-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}