@media (min-width: 480px) {
  .features__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .work__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid > * {
    flex: 1 1 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }

  .menu-toggle {
    display: flex;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .work__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .team__item {
    flex: 1 1 calc(50% - 30px);
  }

  .nav {
    display: block;
  }

  .grid > * {
    flex: 1 1 calc(33.333% - 30px);
    max-width: calc(33.333% - 30px);
  }
}

@media (min-width: 1200px) {
  .features__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .team__item {
    flex: 1 1 calc(25% - 30px);
  }

  .grid > * {
    flex: 0 0 370px;
    max-width: 370px;
  }
}

@media (max-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .menu-toggle {
    display: flex;
  }

  .nav,
  .contacts {
    display: none;
  }
}
