// STUDIO
@media (min-width: 480px) {
  .features__list { 
    grid-template-columns: repeat(2, 1fr); 
  }
  .work__list { 
    grid-template-columns: repeat(1, 1fr); 
  }
}

@media (min-width: 768px) {
  .features__list { 
    grid-template-columns: repeat(2, 1fr); 
  }
  .work__list { 
    grid-template-columns: repeat(3, 1fr); 
  }
  .team__item { 
    flex: 1 1 calc(50% - 30px); 
  }
  .clients__list { 
    justify-content: space-around; 
  }
  .hero__title { 
    font-size: 40px; 
  }
}


@media (min-width: 1200px) {
  .features__list { 
    grid-template-columns: repeat(4, 1fr); 
  }
  .team__item { 
    flex: 1 1 calc(25% - 30px); 
  }
  .work__list { 
    grid-template-columns: repeat(3, 1fr); 
  }
}

// PORTFOLIO
@media (min-width: 480px) {
  .grid > * {
    flex: 1 1 calc(50% - 30px);
  }

  .filters {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .grid > * {
    flex: 1 1 calc(33.333% - 30px);
  }
}

@media (min-width: 1200px) {
  .grid > * {
    flex: 1 1 370px;
  }
}
