// STUDIO
@media (min-width: 480px) {
  .features__list { 
    grid-template-columns: repeat(2, 1fr); 
  }
  .work__list { 
    grid-template-columns: repeat(1, 1fr); 
  }
  .menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .features__list { 
    grid-template-columns: repeat(2, 1fr); 
  }
  .work__list { 
    grid-template-columns: repeat(3, 1fr); 
  }
  .team__item { 
    flex: 1 1 calc(50% - 30px); 
  }
  .clients__list { 
    justify-content: space-around; 
  }
  .hero__title { 
    font-size: 40px; 
  }
}

@media (min-width: 1200px) {
  .features__list { 
    grid-template-columns: repeat(4, 1fr); 
  }
  .team__item { 
    flex: 1 1 calc(25% - 30px); 
  }
  .work__list { 
    grid-template-columns: repeat(3, 1fr); 
  }
}

// PORTFOLIO
@media (max-width: 1199px) {
  .grid > * {
    flex: 1 1 calc(33.333% - 30px);
  }
}

@media (max-width: 767px) {
  .grid > * {
    flex: 1 1 calc(50% - 30px);
  }

  .filters {
    justify-content: center;
  }
}

@media (max-width: 479px) {
  .grid > * {
    flex: 1 1 100%;
  }

  .filters {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .filters button {
    width: 100%;
  }
}