.work {
  background: $color-section-bg;
  @extend %section-padding;

  &__list {
    @include grid(repeat(3, 1fr));

    &--item {
      position: relative;
      overflow: hidden;
      border-radius: 12px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 250ms $transition-main;
      }

      &:hover img {
        transform: scale(1.05);
      }

      .work__text {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(47,48,58,0.8);
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        padding: 14px;
        font-weight: 700;
        z-index: 1;
      }
    }
  }
}
