html, body {
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: $font-main;
  color: $color-dark;
  background: $color-white;
  line-height: 1.5;
}

.container {
  @include container;
}