body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-color);
  background: var(--white);
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}